html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-color: #cc6db4;
  /*background-image: linear-gradient(#5d0540 2%, #a32098 108%);*/
  color: #fff;
  min-height: 100vh;
  text-align: center;
  font-family: "Kalam", cursive;
}

.logo {
  width: 120px;
}

a.featured:hover,
a:hover {
  background-color: #6d0452;
  color: #fff;
}

a {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 0.85rem;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.featured {
  position: relative;
  background-color: #fff;
  color: #6d0452;
  font-weight: 700;
}

a.featured:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #6d0452;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels a {
  flex: 1;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #6d0452;
  border: none;
}

.channels a:last-child {
  margin-right: 0;
}

.channels a:hover {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: url(img/);
  /* background-image: linear-gradient(#a0a0a0 2%, #a32098 108%);*/
  color: #fff;
  min-height: 100vh;
  text-align: center;
  font-family: "Kalam", cursive;
}

.logo {
  width: 120px;
}

a.featured:hover,
a:hover {
  background-color: #660359;
  color: #fff;
}

a {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 0.85rem;
  color: #fff;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.featured {
  position: relative;
  background-color: #fff;
  color: #060042;
  font-weight: 700;
}

a.featured:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #060042;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 0.2%;
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels a {
  flex: 1;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #5a0240;
  border: none;
}

.channels a:last-child {
  margin-right: 0;
}

.channels a:hover {
  text-decoration: underline;
}

img {
  max-width: 70%;
}

p.p {
  position: relative;
  margin-top: 0.3%;
  top: -2rem;
  overflow: auto;
}

.img-smart {
  margin: 2%;
  position: relative;
}
